@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h1 class="display-4">Home Page</h1>
    <p>Questo pagina è pubblica quindi è visibile a chiunque.</p>
    <p>Se vuoi eseguire la login <a asp-action="Admin">clicca qui</a>. Grazie</p>
</div>